.listItem {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  max-width: 100%;
}

.infoItem {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.deleteBtn {
  padding: 6px 10px;
  border-radius: 4px;
  border-color: burlywood;
  color: white;
  background-color: red;
  margin-left: 10px;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: white;
  background-color: tomato;
}

@media (max-width: 768px) {
  .listItem {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .listItem {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .infoItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .deleteBtn {
    margin-left: 0;
    margin-top: 10px;
  }
}